#pantallaCuatro {
    position: relative;
}

#players-final {
    width: 17em;
    position: absolute;
    display: flex;
    left: 40em;
}

.players-final {
    width: 14em;
    height: 16em;
    margin: 4em;
}

#winnerElement {
    position: absolute;
    left: -5em;
}

#looserElement {
    position: absolute;
    left: 21em;
}

#volver {
    width: 8em;
    top: 28em;
    left: 57em;
    position: absolute;
}

.star {
    width: 46em;
    position: absolute;
    top: 11em;
    left: 24em;
}

.star-player {
    width: 6em;
    transform: rotate(20deg);
    position: absolute;
    left: 19em;
    top: 0em;
}


/*WINNER-LOOSER*/

.winnerElement,
.looserElement {}

.marioLooser img,
.marioWinner img {
    widows: 12em;
}

#looserElement.luigiLooser img {
    position: absolute;
    top: 4em;
}

.luigiLooser img,
.luigiWinner img {
    width: 17em;
}

.peachLooser img,
.peachWinner img {
    width: 13em;
    position: absolute;
    top: 1em;
}

.yoshiWinner img {
    width: 14em;
    left: 2em;
    top: -1em;
    position: absolute;
}

.yoshiLooser img,
.yoshiWinner img {}