/*PANTALLA-DOS*/

.texto {
    position: relative;
    width: 22em;
    font-size: 1.5em;
}

.texto-p {
    position: absolute;
    left: 20em;
    top: 7em;
    text-align: center;
    z-index: 1;
    width: 16em;
}

.avatares {
    display: flex;
    width: auto;
    position: absolute;
    top: 3em;
}

.avatar {
    width: 5em;
    cursor: pointer;
}

.avatar-mario,
.avatar-yoshi,
.avatar-peach,
.avatar-luigi {
    position: absolute;
}

.avatar-mario {
    top: 32em;
    left: 5em;
}

.avatar-yoshi {
    top: 27.8em;
    left: 46em;
}

.avatar-peach {
    left: 72em;
    top: 22.5em;
}

.avatar-luigi {
    left: 24em;
    top: 20.5em;
}


/**/

.select-player-uno {
    border: 0.1em solid red;
}

.select-player-dos {
    border: 0.1em solid blue;
}