/*PANTALLA-TRES*/

#pantallaTres {
    width: 11em;
    height: 11em;
    position: absolute;
    top: 7em;
    left: 38em;
}

.vs {
    text-align: center;
    font-size: 3em;
    color: red;
    position: absolute;
    top: 2em;
    width: 3em;
    left: 5em;
}

.player {
    height: 13em;
}

.players {
    position: relative;
    display: flex;
}

#progreso {
    display: flex;
    margin-bottom: 5em;
}

.progress {
    width: 15em;
}

.title-playerDos {
    margin-left: 11.1em;
}


/*Avatares*/

.players {
    position: relative;
    display: flex;
    /* width: 39em; */
    height: 21em;
    /* background: red; */
    left: -3em;
}

#player1 {
    left: 1em;
    top: -2em;
}

#player2 {
    position: absolute;
    left: 25em;
}

.player .avatar {
    width: 13em;
}

.yoshiLucha .avatar {
    width: 16em;
}

.peachLucha .avatar {
    width: 18em;
}

#player1.marioLucha .avatar {
    position: absolute;
    top: -3em;
    left: 2em;
    width: 16em;
}

#player2.marioLucha .avatar {
    position: absolute;
    top: -2em;
    width: 14em;
}

#player2.yoshiLucha .avatar {
    top: -5em;
    position: absolute;
    left: -1em;
}

#player1.yoshiLucha .avatar {
    position: absolute;
    top: -6em;
    left: 0em;
    width: 16em;
}

#player1.luigiLucha .avatar {
    top: -3em;
    left: 2em;
    position: absolute;
}

#player2.luigiLucha .avatar {
    top: -3.5em;
    position: absolute;
}

#player1.peachLucha .avatar {
    left: -2em;
    top: -4em;
    position: absolute;
}

#player2.peachLucha .avatar {
    position: absolute;
    top: -4em;
    left: -3em;
}


/*EXPLOSION*/

.explosion {
    width: 20em;
    position: absolute;
}

.explosion-player1 {
    margin-top: -21em;
    margin-left: -5em;
}

.explosion-player2 {
    margin-top: -13em;
    margin-left: 20.5em;
}


/*START*/

#start {
    width: 10em;
    position: absolute;
    top: 30em;
    left: 18em;
}

#startMessage {
    display: block;
    width: 5em;
    left: 1.8em;
    position: absolute;
    top: 3.5em;
    font-size: 4em;
    background: red;
    color: white;
    z-index: 1;
    text-align: center;
}


/*INFO-LUCHA*/

.info-lucha {
    position: absolute;
    width: 13em;
    font-size: -36em;
    font-size: 2em;
    margin-left: -18em;
    margin-top: 2em;
    text-align: center;
}