/*PANTALLA-DOS*/

.texto {
    position: relative;
    width: 22em;
    font-size: 1.5em;
}

.texto-p {
    position: absolute;
    left: 20em;
    top: 7em;
    text-align: center;
    z-index: 1;
    width: 16em;
}

.avatares {
    display: flex;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    position: relative;
}

.avatar {
    width: 5em;
    cursor: pointer;
}

.avatar-yoshi {
    width: 6.5em;
    margin: 28.7em 10em 0em 10em;
}

.avatar-peach {
    width: 4.5em;
    margin: 26.2em 0em 0em 10em;
}

.avatar-mario {
    width: 5.5em;
    margin: 34.3em 5em 0em 5em;
}

.avatar-luigi {
    margin: 23.5em 2em 0em 6em;
}