#pantallaUno {
    position: relative;
}

.cargando {
    padding-top: 6em;
    margin-left: 34em;
    position: absolute;
    width: 19em;
}

.spinner-border {
    margin: 1em;
}

.bienvenido {
    font-size: 3em;
}

#entrar {
    width: 8em;
    margin-left: 6em;
    margin-top: 2em;
}