/*RESPONSIVE*/

@media screen and (min-width: 1415px) {
    .body {
        /* margin-top: 10em; */
        background: radial-gradient(circle, rgba(76, 171, 255, 1) 57%, rgba(184, 218, 248, 0.6362920168067228) 100%);
    }
    #pantallaTres {
        left: 63em;
    }
    .texto-p {
        top: 1em;
    }
}

@media screen and (min-width:200px) and (max-width:1414px) {
    .body {
        position: relative;
    }
    .fondo {
        position: absolute;
    }
    .avatar-mario {
        top: 32em;
    }
    .avatar-yoshi {
        top: 27.8em;
        left: 46em;
    }
    .avatar-peach {
        top: 22em;
    }
    .avatar-luigi {
        left: 24em;
        top: 20.5em;
    }
    .texto-p {
        top: 0em;
        font-size: 1.1em;
        left: 19em;
        width: 16em;
    }
    #pantallaTres {
        left: 39em;
    }
}