* {
    margin: 0;
    border: 0;
    width: 100%;
}

.fondo {
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    max-width: 80em;
    height: 43em;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 12em;
    /* position: fixed; */
    margin: 2em;
}